:root {
  --bs-link-color: white;
}

body {
height: 100vh;
display: flex;
overflow: hidden;
flex-direction: column;
}

.navbar {
  height: 60px;;
}

.my-sidebar {
  height: calc(100vh - 60px);
  width: 50px;
}

.fa-bell {
  color: #ff8f00;
}

.mobile-logo {
  width: 50px;
}

.my-search {
  flex-grow: 1;
  flex-basis: 0;
}

/*****MEDIA QUERY*****/

@media (min-width: 992px) {
  .my-sidebar {
    width: 150px;
  }
}