:root {
  --bs-link-color: white;
}

body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.navbar {
  height: 60px;;
}

.my-sidebar {
  height: calc(100vh - 60px);
  width: 50px;
  --bs-dark-rgb: 5, 30, 52;
}

.my-sidebar a {
  text-decoration: none;
  color: white;
}

.text-sidebar:hover,
tr:hover,
li:hover {
  opacity: .5;
}

.drop-bell {
  border: none;
  background-color: transparent;
}

.fa-bell {
  color: #ff8f00;
}

.dropstart {
  position: relative!important;
}

.dropdown-menu {
  position: absolute!important;
  top: 1rem!important;
  right: 1rem!important;
}

.mobile-logo {
  width: 50px;
}

.my-search {
  flex-grow: 1;
  flex-basis: 0;
}

.main-container-fluid {
  height: calc(100vh - 60px);
  overflow: auto;
}

.top-status-bar {
  background-color: #1b72e8;
  color: white;
}

.top-status-bar .badge {
  background-color: #165bba;
}

.card tr td:not(:first-child) {
  text-align: end;
}

.card table thead {
  --bs-table-bg: 5, 30, 52;
}

.card-table img {
  width: 25px;
}

.card-stats img {
  width: 100%;
}

i {
  --bs-body-color: 255, 255, 255;
  opacity: 1;
}

/*****MEDIA QUERY*****/

@media (min-width: 992px) {
  .my-sidebar {
    width: 150px;
  }
}